<!-- include footer -->
<%- include('include/_adminbase.ejs') %>
<!-- /include footer -->




	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
	
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
		

			<div class="container">
                <!-- Search -->
                <div id="search-baron"> 
                  USERS
                </div>
                <div style="display: flex; justify-content: center; width: 100%;">
                    
                    <div style="width: 100%; " >
                    <input type="text" name="name" placeholder="Search Here" id="name-search"  style="width: 30%;
                    padding: .6em 1em;
                    margin: .5em 0;
                    border: 1px solid gray;
                    font-family: 'Barlow', sans-serif;
                    font-size: 1em;
                    border-radius: 10px;">
                    <i class="fa fa-search"></i>
                </div>
                </div>
               
    
                <!-- form handling -->
                <form action="/" method="POST">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>@Email</th>
                                
                                <th>mobile</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          <%- include('include/_show')%>
                        </tbody>
                    </table>
                </form>
                
            </div>
               

			
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="/js/search.js"></script>
</body>
</html>

