<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<section>
    <div class="container-fluid">
        <div class="col-6">

        </div>
        <div class="col-6">
            <img src="/images/" alt="">
        </div>


    </div>
</section>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->